

<!--  -->

<!DOCTYPE html>
<html>



<head>

</head>




<!-- <body> -->

<div id="header">
<h1>The Avengers Deadly Shortener</h1>
</div>

<!-- <div id="nav">
<br>
  Johnson<br>
  Khoo<br>
  Productions
</div> -->


<div id="section">


<p class="center"><a href="http://wowwwz.com/wp-content/uploads/2015/08/join1.png"><img id ="headimg" class="size-full wp-image-336 aligncenter" alt="join1" src="http://wowwwz.com/wp-content/uploads/2015/08/join1.png" width=100% height=35% /></a></p>

<!--  -->

<div id="midfade">

    <form id="url_form" action="/urls" method="post" name="sign up for beta form">
      <div class="headerf">
         <p class="center">||ARE YOU READY||</p>
      </div>
      <div class="description">
        <p class="center">|| LOADING SUPERPOWERS ||</p>
      </div>
      <div class="inputf">
        <input type="text" class="button" id="email" name="longurl" placeholder="ENTER URL TO AVENGE HERE!">
        <input type="submit" class="button" id="submit" value="AVENGE!">
      </div>
    </form>

 <!--  -->

<!-- <form action="/urls" method="post" style="text-align: center;">
<input type = "type" name="longurl" placeholder="Enter Url To Avenge Here" style="height:50px; width:400px;">
<button type="submit" value="Submit">Boom!</button>
<input type = "submit" value="Submit">
</form> -->



<br>


<div class="panel">
        <br />

<h1><p class="center"><span style="color: #236B30;"><u>The Avenged Links</u></span></p></h1>
        <br />

<table id="t01">

  <tr>
    <th>Original Url</th>
    <th><p class="center">Short Url</p></th>    
    <th><p class="center">Click Count</p></th>
  </tr>
  <% @urls.each do |url| %>
  <tr>
 <td><li><em><%= url.longurl %></em></li></td>
 <td><p class="center"><a href=<%= "http://localhost:9393/" + url.shorturl %>><%=  url.shorturl %></a></p></td>
 <td><p class="center"><%= " Visits: " + url.click_count.to_s + " " %></p></td> 
 <% end %>
  </tr>

</table>

<br>
<br>

        </div>
        <p class="slide"><div class="pull-me">Click To See/Hide Avenged Links</div></p>


</div>
<!-- 

<h1><p class="center"><span style="color: #ff0000;">The Avenged Links</span></p></h1>

<table>

<br>

<table id="t01">

  <tr>
    <th>Original Url</th>
    <th><p class="center">Short Url</p></th>		
    <th><p class="center">Click Count</p></th>
  </tr>
  <% @urls.each do |url| %>
  <tr>
 <td><li><em><%= url.longurl %></em></li></td>
 <td><p class="center"><a href=<%= "http://localhost:9393/" + url.shorturl %>><%=  url.shorturl %></a></p></td>
 <td><p class="center"><%= " Visits: " + url.click_count.to_s + " " %></p></td> 
 <% end %>
  </tr>

</table> -->

</div>


<div id="footer">
Copyright © Johnson Khoo Productions Co Ltd
</div>

<!-- </body> -->
</html>

<!--  -->

<!-- <br>


<p style="text-align: center;"><a href="http://wowwwz.com/wp-content/uploads/2015/08/join1.png"><img class="size-full wp-image-336 aligncenter" alt="join1" src="http://wowwwz.com/wp-content/uploads/2015/08/join1.png" width="900" height="296" /></a></p>


<form action="/urls" method="post">
Enter URL:
<input type = "type" name="longurl">
<input type = "submit" value="Submit">
</form>

<h1><span style="color: #ff0000;">Awesome Links</span></h1>

<ul>

<% @urls.each do |url| %>
 <p><li><em><%= url.longurl %></em>, <a href=<%= "http://localhost:9393/" + url.shorturl %>><%= "  [Short Code ID]  " + url.shorturl %></a>, <%= "Visits:" + url.click_count.to_s %></li></p> 
 <% end %>

</ul>
 -->





<!-- <h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p> -->